body {background-color: #EDDAD6;}
/*
color used: 
primary color: #000000;
secondary color: #434343; 
background color: #EDDAD6;
*/
body {
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #EDDAD6;
    font-family: 'Roboro', sans-serif;
    font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #000000;
  }
  
  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }
  
  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }
  
  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
    color: #50b0ff;
    text-decoration: none; /*No underlining */
}
a:hover {
    color: #cc6540;
    text-decoration: underline; /* Underlining when hovering over
    a link */
}
a:visited { /* visited link */
    color: #112903;
  }
  a:active { /* selected link */
    color: #50b0ff;
  }
  a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
.button {
    display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
    background-color: #4CC911;
    color: #ffffff; /* needed to override the default link color */
    font-weight: 400;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #112903; /* width of the border, type, color */
    transition: 0.2s opacity;
    transition-property: opacity;
  }
  .button:hover {
    opacity: 0.8; /* Reduces the opacity of the button to 80% */
    text-decoration: none;
  }
  .button.contact {
    background-color: transparent;
    color: #4CC911;
    text-transform: uppercase;
    border: 2px solid #4CC911;
  }
  .button.contact:hover {
    background-color: #4CC911;
    color: #ffffff;
  }
  header {
background-color: #9fa1b9;
padding: 10px 0 4px;
margin: 10px;
border: 3px;
  }
  main {
      padding-top: 56px;
  }
  footer {
    background-color: #9fa1b9;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 3px;
      }
/* Layout styling */
selector {
    position: relative;
}
selector {
    float: left;
}
selector {
    width: 80%;
}
.container {
    padding: 0 15px;
}
.row {
    margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
#header h1 {
    text-align: center; /* Center text */
}
.center {
    text-align: center;
}
.logo {
    max-width: 150px;
}
nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
}
  nav > ul > li > a {
      padding: 0 15px;
      text-transform: uppercase;
      font-weight: 500;
      color: #000000;
  }
  nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #000000;
}
.navtoggle li:not(:last-child) {
    display: none;
}
#hero {
    background-color: #9fa1b9
padding 20px 0;

}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 641px) 
{
header {
    text-align: unset;
    padding: 20px 0 13px;
}
nav {
    width: auto;
    float: right;
    margin-top:4px;
}
nav > ul {
    margin: 1em 0;
}
.navtoggle li:not(:last-child) {
    display: inline-block;
}
.navtoggle li:last-child {
    display: none;
}
}

/* ==============================
Large devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-Large devices (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {
}
/* ==============================
Extra-large devices (1920px and larger)
================================= */
@media only screen and (min-width: 1920px) {
}
#hero span {
    display: block;
}
.col-md-6 {
    width: 50%;
}
[class*="col-"] {
    float: left;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.col-lg-5 {
    width: 50%;
}
.col-lg-7 {
    width: 50%;
}
.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes color-change {
    from { fill: rgba(8,25,43,0.75);}
    to {fill: #949494}
}
.background {
    animation-duration: 4s;
    animation-name: color-change;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes picture-move {
    from { transform: translate(0,0px);}
    to { transform: translate(100px,0px);}
}
.picture {
    animation-duration: 30s;
    animation-name: picture-move;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.navtoggle, .navtoggle.responsive {
    position: relative;
}
.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 2px;
    font-size: 20px;
    padding-right: 0;
}
.navtoggle.responsive nav {
    padding: 24px 0 0;
}
.navtoggle.responsive li {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
}
navtoggle.responsive li: last-child {
    padding: 0 0 10px;
}
